<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>

<body>
    <h1>Greetings, {{user.name}}</h1>
    <a href="{% url 'rideshare:logout' %}">
        <button>Log out</button>
    </a>
    <div>
        <a type="button" href="/index/{{user.pk}}/userprofile/">See/Edit my profile</a>
    </div>
    <div>
        {% if user.role == "N" %}
        <a type="button" href="/index/{{user.pk}}/becomedriver/">Become a Driver</a>
        {% endif %}
    </div>
    <div>
        <a type="button" href="/index/{{user.pk}}/riderequest/">Request a Ride</a>
    </div>
    <div>
        <a type="button" href="/index/{{user.pk}}/ridejoin/">Join a Ride </a>
    </div>
    <div>
        <a type="button" href="/index/{{user.pk}}/myrides/">View my ongoing rides </a>
    </div>
    {% if user.role == "N"%}
    <div>
        <p>As you are not driver, you cannot pick up any customers. </p>
        <p>If you want to pick up others, please become a diver first!</p>
    </div>
    {% endif %}
    {% if user.role == "D" %}
    <div>
        <a type="button" href="/index/{{user.pk}}/ordertake/">View & pick up customers!</a>
    </div>
    {% endif %}
</body>

</html>