<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Sign In</title>
</head>

<body>
    <div class="container">
        <div class="col">
            <form class="form-login" action="/login/" method="post">
                {% csrf_token %}
                {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
                {% endif%}
                <h3 class="text-center">Welcome to Ride & Share!</h3>
                <div class="form-group">
                    <label for="id_email">Email:</label>
                    <input type="text" name='email' class="form-control" id="id_email" placeholder="Email Address"
                        autofocus required>
                </div>
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input type="password" name='password' class="form-control" id="id_password" placeholder="Password"
                        required>
                </div>
                <div>
                    <a href="/register/" class="text-success "><ins>New? Sign up now!</ins></a>
                    <button type="submit" class="btn btn-primary float-right">Sign in</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>