<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Join a Ride</title>
</head>

<body>
    <div class="container">
        <form class="form-register" method="post">
            {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif%}
            {% csrf_token %}
            <h3 class="text-center">Let's join a shared ride!</h3>
            <div class="form-group">
                <label for="id_dest">Please enter your destnation:</label>
                <input type="text" name='destnation' class="form-control" id="id_dest"
                autofocus required>
            </div>
            <div class="form-group">
                <label for="id_earl_time">Please enter your acceptable earliest arrival time:</label>
                <input type="datetime-local" name='earliest_arrivaltime' class="form-control" id="id_earl_time"
                 required>
            </div>
            <div class="form-group">
                <label for="id_last_time">Please enter your acceptable lastest arrival time:</label>
                <input type="datetime-local" name='lastest_arrivaltime' class="form-control" id="id_last_time"
                 required>
            </div>
            <div class="form-group">
                <label for="id_headcount">Please enter number of people with you:</label>
                <input type="number" min="1" name='headcount' class="form-control" id="id_headcount"
                 ,required>
            </div>
            <textarea name ="specialinfo" rows="10" cols = "30">Please input your special needs.</textarea>
            <br>
            <div>
                <a href="/index/{{user.pk}}/" class="text-success "><ins>Back to Home Page</ins></a>
                <button type="submit" class="btn btn-primary float-right">Go!</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>