<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>shared-rides fitting requirements</title>
</head>

<body>
    <div class="container">
        <div class="alert alert-warning">{{ message }}</div>
        {% csrf_token %}
        <h3 class="text-center">These are shared rides that match your requiremnts</h3>

        {% for ride in ridesfitted %}
            <p> The destnation is {{ ride.dest }}
                 and arrival time is {{ ride.arrivaltime}}
                 <br>
                <a href="/index/{{user.pk}}/ridejoin/join_a_ride/{{ride.id}}/{{headcount}}">Join Now</a>
            </p>
        {% endfor %}
        <div>
        <a href="/index/{{user.pk}}/riderequest/"> Not find matched ride? Create a new one!</a>
        <br>
        <a href="/index/{{user.pk}}/" class="text-success "><ins>Back to Home Page</ins></a>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>