<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Request Ride</title>
</head>

<body>
    <div class="container">
        <form class="form-register" method="post">
            {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif%}
            {% csrf_token %}
            <h3 class="text-center">Let's book a ride:)</h3>
            {{form}}
            <div>
                <a href="javascript:history.go(-1);" class="text-success "><ins>Back</ins></a>
                <button type="submit" class="btn btn-primary float-right">Save</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>